@model Notes.Models.Note

@{
    /** Delete.cshtml
     *
     * This page allows a user to delete a note, if they really want to.
     * It also shows all of the details of this note, including the note 
     * content itself, so that the user knows that they're deleting the
     * correct note. The reason I've done this is because I've deleted
     * one file on accident, where I meant to delete another file. Being able
     * to see the note that is being deleted will be helpful.
     *
     * Only the creator of a note will be able to view this page, and by
     * extension, view this page for their note.
     * 
     * Author: Haran
     * Date: December 6th, 2020
     */
    ViewData["Title"] = $"Delete note \"{Model.Name}\"?";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you SURE you want to delete this note?</h3>
<div>
    <hr />
    <!-- Display the username and group for this note too
         Don't link to it, so the user does not get distracted by the fact
         they are deleting this note. -->
    <p>This note was created by @Html.DisplayFor(model => model.User.UserName).</p>

    <!-- Only show the group name if there is a group-->
    @if(Model.Group != null)
    {
        <p>This note is stored under the @Html.DisplayFor(model => model.Group.Name) group.</p>
    }
    
    <!-- Show the description if there is one -->
    @if(Model.Description != null && !Model.Description.Equals(""))
    {
        <p>The description for this note is: @Html.DisplayFor(model => model.Description)</p>
    }

    <hr />
    <!-- Use the same layout for content as the create and edit page, so the
         user can view the entire note to be ABSOLUTELY sure they want to
         delete it -->
    <pre class="note-content">@Html.DisplayFor(model => model.Content)</pre>
    <hr />
    
    <!-- An extra warning.
         I've deleted data on accident in the past (using shift+del while 
         deleting many files), so this is more for me, if anything. -->
    <p>This action is IRREVERSIBLE. If this note is deleted, it cannot be recovered.</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <!-- I'm NOT using an outline button here, because this button should
             pop out; the user needs to know that they are, in fact, 
             DELETING this note. -->
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </form>
</div>
