@using Microsoft.AspNetCore.Identity 

@model Notes.Models.Note
@inject UserManager<User> userManager

@{
    /** Details.cshtml
     *
     * This page allows a user to view all fields of a note, including its
     * name, the user that created the note and the group that it is a part
     * of (both with links to the user's notes and group's notes, 
     * respectively). Users can also go to the page to edit or delete this  
     * note from here. They will only be able to do this for their own notes.
     *
     * Author: Haran
     * Date: December 6th, 2020
     */
    // the using/inject statement at the top are needed to get current user
    // use the model name and author as the title
    ViewData["Title"] = $"\"{Model.Name}\" by {Model.User.UserName}";

    /* get the current logged in user id (instead of getting it every loop
       iteration, and in this case, twice every iteration) */
    string currentUserId = userManager.GetUserId(User);
}

<!-- Just the note name as the title -->
<h1>@Model.Name</h1>
<!-- And display the username right under that, with a link to the user,
     using asp attributes to build the href attribute -->
<h6>by <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.UserName</a></h6>
@{
    // If present, display the group along with a link to that group's page (which shows all notes contained within it)
    if (Model.GroupId != null)
    {
        <a asp-controller="Groups" asp-action="Details" asp-route-id="@Model.GroupId">
            @Model.Group.Name
        </a>
    }
}
<div>
    <!-- No need to show note name here since it is above -->
    @{
        // only show the description if it exists
        if (Model.Description != null && !Model.Description.Equals(""))
        {
            <h5>Description</h5>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
        }
    }
    <!-- A line to separate the details from the actual content -->
    <hr />
    <!-- Using the `pre` element, as that will display the text with the formatting and newlines intact 
         This means not placing the function call to display on another line, since tabs and newlines are 
         preserved -->
    <pre class="note-content">@Html.DisplayFor(model => model.Content)</pre>
    <!-- And a line to show that this is the end of the content -->
    <hr />
</div>
<div>
    @{ 
        // only show the edit button if this is the logged in user's note
        if (Model.UserId.Equals(currentUserId))
        {
            <!-- After reading the note, the user may wish to edit it -->
            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
    }

    <!-- Button that, when clicked, will render the note as GitHub Markdown-->
    <button class="btn btn-outline-primary" onclick="renderMarkdown()">View as Markdown</button>

    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    @{ 
        // only show the delete button if the user is allowed to (their note)
        if (Model.UserId.Equals(currentUserId))
        {
            <!-- The delete button is last so the user doesn't click it on accident -->
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
    }
</div>
<!-- Markdown container -->
<div class="markdown-html"></div>
<!-- Script with API call -->
<script type="text/javascript">
    /* Whether the "View as Markdown" button was already clicked or not, and
     * successfully displayed the HTML conversion of the note's markdown.
     * If it is clicked, there is no point in running it again since the note
     * content stays the same under normal circumstances, until the page is 
     * refreshed. */
    var renderSuccess = false

    function renderMarkdown() {
        /* only execute if the button was not already clicked 
         * (no need to fire the request twice) */
        if (!renderSuccess) {
            // the element that will hold the rendered markdown
            var markdownContainer = document.querySelector("div.markdown-html")

            // grab the contents of the note
            var noteContent = document.querySelector("pre.note-content").innerText

            /* No preprocessing is needed, since the GitHub API sanitizes any 
             * potential problem code. For example, if a note contains a script
             * tag with < and >, GitHub will return it with the angle brackets
             * replaced by the HTML entities &lt; and &gt;. */

            /* POST to GitHub's markdown renderer, using JQuery
             * See: https://docs.github.com/en/free-pro-team@latest/rest/reference/markdown#render-a-markdown-document
             */
            $.post({
                "url": "https://api.github.com/markdown",
                "headers": { "Accept": "application/vnd.github.v3+json" },
                "data": JSON.stringify({ "text": noteContent })
            })
                .done(response => {
                    // fill the container with the rendered markdown
                    markdownContainer.innerHTML = response.toString()

                    // Give the container a border to separate it from the rest of the content
                    markdownContainer.style["border"] = "double"

                    /* Tell the user that this is the markdown preview, by 
                     * prepending an element describing it */
                    markdownContainer.outerHTML = "<h6>Markdown Preview</h6>" + markdownContainer.outerHTML

                    // the button has been clicked, and the preview was successful
                    renderSuccess = true
                })
                /* no documented reason for this to fail;
                 * GitHub doesn't mention returning an error code, but just in 
                 * case, if there is an error, an alert will be shown. */
                .fail((data, errorMsg, errorCode) =>
                    alert(`An error occurred while rendering markdown: ${errorMsg} (Error ${errorCode})`))
        }
    }
</script>
