@model IEnumerable<Notes.Models.User>

@{
    /** Index.cshtml
     * This page lists all of the users currently in the database.
     * It also contains a link to all of the notes created by each user, and
     * shows the number of notes created by each user.
     *
     * Author: Haran
     * Date: December 6th, 2020
     */
    ViewData["Title"] = "All users";
}

<h1>All users</h1>
<p>Click on a username to be taken to a list of their notes.</p>

<p>
    <!-- See Notes/Index.cshtml for reasoning behind placing the button here,
         and styling it this way -->
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
<!-- Change colour on hover, like notes table -->
<table class="table table-hover">
    <!-- Dark header to make the site uniform -->
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                <!-- Another column for the number of notes -->
                Number of Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <!-- Again, username should link to details page -->
                <a class="table-anchor" asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Username)
                </a>
            </td>
            <td>
                <!-- Show the number of notes that this user has created -->
                @Html.DisplayFor(modelItem => item.Notes.Count)
            </td>
            <td>
                <!-- Eh, for consistency, show a view button -->
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">View</a>
            </td>
            <!-- Users cannot be edited/deleted like most sites (except by special request, i.e. GDPR compliance) -->
        </tr>
}
    </tbody>
</table>
