@model IEnumerable<Notes.Models.Group>

@{
    /** Index.cshtml
     *
     * This page contains a list of all groups in the database, along with
     * the number of notes associated with each group. It also allows a user
     * to create a new group, edit existing ones, view the notes contained 
     * within the group, or delete the group, if there are no notes linked to
     * them.
     * Notes under each group can be viewed by clicking the "View" button, or
     * clicking the group name.
     *
     * Author: Haran
     * Date: December 6th, 2020
     */
    ViewData["Title"] = "All groups";
}

<h1>All groups</h1>
<p>Click on a group name to view all notes associated with it.</p>
<p>
    <!-- Same premise as the Notes index for making the button this way -->
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
<!-- consistency is key; use a hover table and a dark header -->
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Number of Notes
            </th>
            <!-- Blank heading for actions -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <!-- Link to the group's details page -->
                <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <!-- show the number of notes associated with this group -->
                @Html.DisplayFor(modelItem => item.Notes.Count)
            </td>
            <td>
                <!-- Since the other buttons are here, might as well have a view button too -->
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">View</a>
                <!-- 
                    Again, consistency; use outline buttons.
                    Anyone can edit groups, or delete them assuming there are no notes
                    associated with the group.
                -->
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
